---
styles: ["grid", "gridCont", "text", "fadedTeeth", "copyright", "fadedShape", "wave", "diacriticSpiral"]
---
{%- assign basic = site.data.basic -%}
{%- assign diacritic = site.data.diacritic[page.slug] -%}
{% include opening.html -%}
<title>{{ diacritic.title }}</title>
{% include style.html -%}
{%- if diacritic.defs -%}
<defs>
  {{ diacritic.defs }}
</defs>
{%- endif -%}
{{ basic.grid.consonant }}
{{ basic.teeth.fadedConsonant }}
{{ basic.alveola.faded }}
<path d="{{ basic.shape.consonant }}" class="fadedShape"/>
{{ diacritic.sign }} 
{% include copyright.html -%}
</svg>
